<!--====================
    ACCESSORIES
========================-->

  <section id="product-accessories" class="product-content-jquery">

    <div class="product-accessories-header">
      <h2>Accessories</h2>
    </div> <!-- product-accessories-header -->

    <div class="full-width-row accessories-row">
      <div class="small-6 medium-12 large-12 columns">
        <ul class="small-block-grid-2">
          <li>
            <div class="product-accessory-container accessory-1">
              <h4>USB-MIDI CABLE</h4>
              <div class="product-accessory-img-div">
                <img src="assets/img/product-page/accessory-cable.png">
              </div> <!-- product-accessory-img-div -->
              <div class="product-accessory-learn-more-div">
                <a href="#">Learn More</a>
              </div> <!-- product-accessory-learn-more-div -->
            </div> <!-- product-accessory-container -->
          </li>

          <li>
            <div class="product-accessory-container accessory-1">
              <h4>USB-MIDI CABLE</h4>
              <div class="product-accessory-img-div">
                <img src="assets/img/product-page/accessory-cable.png">
              </div> <!-- product-accessory-img-div -->
              <div class="product-accessory-learn-more-div">
                <a href="#">Learn More</a>
              </div> <!-- product-accessory-learn-more-div -->
            </div> <!-- product-accessory-container -->
          </li>
        </ul>
      </div> <!-- columns -->
    </div> <!-- row -->

    <div class="full-width-row accessories-row">
      <div class="small-6 medium-12 large-12 columns">
        <ul class="small-block-grid-2">
          <li>
            <div class="product-accessory-container accessory-1">
              <h4>USB-MIDI CABLE</h4>
              <div class="product-accessory-img-div">
                <img src="assets/img/product-page/accessory-cable.png">
              </div> <!-- product-accessory-img-div -->
              <div class="product-accessory-learn-more-div">
                <a href="#">Learn More</a>
              </div> <!-- product-accessory-learn-more-div -->
            </div> <!-- product-accessory-container -->
          </li>

          <li>
            <div class="product-accessory-container accessory-1">
              <h4>USB-MIDI CABLE</h4>
              <div class="product-accessory-img-div">
                <img src="assets/img/product-page/accessory-cable.png">
              </div> <!-- product-accessory-img-div -->
              <div class="product-accessory-learn-more-div">
                <a href="#">Learn More</a>
              </div> <!-- product-accessory-learn-more-div -->
            </div> <!-- product-accessory-container -->
          </li>
        </ul>
      </div> <!-- columns -->
    </div> <!-- row -->

  </section>
