<!--====================
    PRODUCT MEDIA
========================-->

  <section id="product-media" class="product-content-jquery">
    <div class="row full-width-row">

      <div class="product-media-images-container">
        <div class="product-media-images-header">
          <h2>Images</h2>
        </div>

        <ul data-clearing class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 clearing-thumbs product-media-ul">
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
        </ul>

        <ul data-clearing class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 clearing-thumbs product-media-ul">
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
          <li><a href="http://placehold.it/1200x750"><img src="http://placehold.it/400x250"></a></li>
        </ul>
      </div> <!-- product-media-images-container -->



      <div class="product-media-videos-container">
        <div class="product-media-videos-header">
          <h2>Videos</h2>
        </div>

        <div class="product-media-videos-wrapper">
          <img src="http://placehold.it/1280x720">
        </div> <!-- product-media-videos-wrapper -->
      </div> <!-- product-media-videos-container -->


    </div> <!-- row -->
  </section>



















