<!--====================
    PRODUCT DOWNLOADS
========================-->

  <section id="product-downloads" class="product-content-jquery">

    <div class="full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="product-updates-wrapper">
          <div class="product-updates-header">
            <h2>Updates &amp; Drivers</h2>
          </div> <!-- product-updates-header -->
          <div class="product-updates-content">
            <div class="full-width-row">
              <div class="small-6 medium-6 large-6 columns">
                <div class="mac-updates-container">
                  <div class="mac-updates-header">
                    <h4>Mac</h4>
                  </div> <!-- mac-updates-header -->
                  <div class="mac-update-box-wrapper">
                    <div class="mac-update-box">
                      <div class="mac-update-box-header">
                        <h4>VI49 Editor Software</h4><span><h4>1.01</h4></span>
                      </div> <!-- mac-update-box-header -->
                      <hr>
                      <ul>
                        <li>- Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                        <li>- Maecenas faucibus mollis interdum.</li>
                      </ul>
                      <div class="mac-download-btn">
                        <a href="#"><span>Download</span></a>
                      </div> <!-- mac-download-btn -->
                    </div> <!-- mac-update-box -->
                  </div> <!-- mac-update-box-wrapper -->
                </div> <!-- mac-updates-container -->
              </div> <!-- columns -->
              <div class="small-6 medium-6 large-6 columns">
                <div class="windows-updates-container">
                  <div class="windows-updates-header">
                    <h4>Windows</h4>
                  </div> <!-- windows-updates-header -->
                  <div class="windows-update-box-wrapper">
                    <div class="windows-update-box">
                      <div class="windows-update-box-header">
                        <h4>VI49 Editor Software</h4><span><h4>1.01</h4></span>
                      </div> <!-- windows-update-box-header -->
                      <hr>
                      <ul>
                        <li>- Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                        <li>- Maecenas faucibus mollis interdum.</li>
                      </ul>
                      <div class="windows-download-btn">
                        <a href="#"><span>Download</span></a>
                      </div> <!-- windows-download-btn -->
                    </div> <!-- windows-update-box -->
                  </div> <!-- windows-update-box-wrapper -->
                </div> <!-- windows-updates-container -->
              </div> <!-- columns -->
            </div> <!-- row -->
          </div> <!-- product-updates-content -->
        </div> <!-- product-updates-wrapper -->
      </div> <!-- columns -->
    </div> <!-- row -->

    <!-- <hr class="product-features-hr"> -->


    <div class="full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="documents-contents-wrapper">
          <div class="documents-contents-header">
            <h2>Documents &amp; Images</h2>
          </div> <!-- documents-contents-header -->
          <div class="documents-contents-content">
            <div class="full-width-row">
              <div class="small-6 medium-6 large-6 columns">
                <div class="documents-divider-line">
                <div class="documents-header">
                  <h4>Documents</h4>
                </div> <!-- documents-header -->

                  <div class="product-documents-wrapper">
                    <ul>
                      <li class="documents-li"><span>Safety &amp; Warranty Manual</span><a href="">Open PDF</a></li>
                      <li class="documents-li"><span>User Guide</span><a href="">Open PDF</a></li>
                      <li class="documents-li"><span>Product Overview</span><a href="">Open PDF</a></li>
                    </ul>
                  </div> <!-- product-documents-wrapper -->
                </div> <!-- documents-divider-line -->
              </div> <!-- columns -->
              <div class="small-6 medium-6 large-6 columns">
                <div class="images-header">
                  <h4>Images</h4>
                </div> <!-- documents-header -->
                <div class="product-images-wrapper">
                  <ul>
                    <li class="images-li"><span>Media Images</span><a href="">Download</a></li>
                  </ul>
                </div> <!-- product-images-wrapper -->
              </div> <!-- columns -->
            </div> <!-- row -->
          </div> <!-- documents-contents-content -->
        </div> <!-- documents-contents-wrapper -->
      </div> <!-- columns -->
    </div> <!-- full-width-row -->

  </section>















