<!--================
    CATEGORIES GRID
====================-->

  <section id="categories-grid">

<!--====
    ROW #1
    ====-->
    <div class="full-width-row">

      <!--==== GRID #1 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-1">
          <img class="test-img" src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-1">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-1 -->
      </div> <!-- columns -->

      <!--==== GRID #2 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-2">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-2">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-2 -->
      </div> <!-- columns -->


      <!--==== GRID #3 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-3">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-3">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-3 -->
      </div> <!-- columns -->

      <!--==== GRID #4 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-4">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-4">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->
        </div> <!-- grid-images grid-img-4 -->
      </div> <!-- columns -->

    </div> <!-- row -->


<!--====
    ROW #2
    ====-->
    <div class="full-width-row">

      <!--==== GRID #5 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-5">
          <img class="test-img" src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-5">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-1 -->
      </div> <!-- columns -->

      <!--==== GRID #6 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-6">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-6">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-2 -->
      </div> <!-- columns -->


      <!--==== GRID #7 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-7">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-7">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-3 -->
      </div> <!-- columns -->

      <!--==== GRID #8 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-8">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-8">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->
        </div> <!-- grid-images grid-img-4 -->
      </div> <!-- columns -->

    </div> <!-- row -->

<!--====
    ROW #3
    ====-->
    <div class="full-width-row">

      <!--==== GRID #9 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-9">
          <img class="test-img" src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-9">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-1 -->
      </div> <!-- columns -->

      <!--==== GRID #10 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-10">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-10">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-2 -->
      </div> <!-- columns -->


      <!--==== GRID #11 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-11">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-11">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->

        </div> <!-- grid-images grid-img-3 -->
      </div> <!-- columns -->

      <!--==== GRID #12 ====-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-12">
          <img src="assets/img/grid.png">

          <div class="grid-jquery-hover hover-wrapper-12">
            <div class="grid-hover-content text-center">
              <div class="hover-header">
                <h1>VX49</h1>
              </div> <!-- hover-header -->
              <div class="hover-description">
                <p>49-KEY USB/MIDI CONTROLLER WITH FULL-COLOR SCREEN</p>
              </div> <!-- hover-description -->
              <div class="hover-btn">
                <span>LEARN MORE</span>
              </div> <!-- hover-btn -->
            </div> <!-- grid-hover-content -->
          </div> <!-- grid-jquery-hover -->
        </div> <!-- grid-images grid-img-4 -->
      </div> <!-- columns -->

    </div> <!-- row -->
  </section>






      <!-- <div class="video videos-1" data-content="Needlz | Making the Beat">
        <img src="assets/img/videos/needlz.jpg">
        <div class="video-play-btn-div video-play-btn-btn-1">
          <a href="#" class="button play-btn video-play-btn-1"><span>PLAY</span></a>
        </div>
      </div>
      <div class="videos-section-container videos-section-vid-1">
      </div>  -->
