<!--================
    CATEGORIES GRID
====================-->

  <section id="categories-grid">

  <!--==== ROW #1 ====-->
    <div class="full-width-row">

      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-1">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-1 -->
        <div class="grid-hover-content">

        </div> <!-- grid-hover-content -->
      </div> <!-- columns -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-2">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-2 -->
      </div> <!-- columns -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-3">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-3 -->
      </div> <!-- columns -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-4">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-4 -->
      </div> <!-- columns -->

    </div> <!-- row -->


  <!--==== ROW #2 ====-->
    <div class="full-width-row">
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-5">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-5 -->
      </div> <!-- columns -->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-6">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-6 -->
      </div> <!-- columns -->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-7">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-7 -->
      </div> <!-- columns -->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-8">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-8 -->
      </div> <!-- columns -->
    </div> <!-- row -->


  <!--==== ROW #3 ====-->
    <div class="full-width-row">
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-9">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-9 -->
      </div> <!-- columns -->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-10">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-10 -->
      </div> <!-- columns -->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-11">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-11 -->
      </div> <!-- columns -->
      <div class="small-12 medium-12 large-3 columns">
        <div class="grid-images grid-img-12">
          <img src="assets/img/grid.png">
        </div> <!-- grid-images grid-img-12 -->
      </div> <!-- columns -->
    </div> <!-- row -->
  </section>






      <!-- <div class="video videos-1" data-content="Needlz | Making the Beat">
        <img src="assets/img/videos/needlz.jpg">
        <div class="video-play-btn-div video-play-btn-btn-1">
          <a href="#" class="button play-btn video-play-btn-1"><span>PLAY</span></a>
        </div>
      </div>
      <div class="videos-section-container videos-section-vid-1">
      </div>  -->
