<!--================
    FEATURED PRODUCT
====================-->

<section id="featured-product">

    <div class="full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="side-left-div">
          <!-- <img src="assets/img/side-left.png"> -->
            <div class="side-left-content-wrapper">
            <div class="side-left-header">
              <h2><em>CRIMSON MESH KIT</em></h2>
            </div> <!-- side-left-header -->
            <div class="side-left-sub-header">
              <h4>SOLD EXCLUSIVELY AT GUITAR CENTER</h4>
            </div> <!-- side-left-sub-header -->
            <div class="side-left-btns">
              <a href="#" class="button side-left-learn">LEARN MORE</a>
              <a href="#" class="button side-left-buy">BUY NOW</a>
            </div> <!-- side-left-btns -->
          </div> <!-- side-left-content-wrapper -->
        </div> <!-- side-left-div -->
      </div> <!-- columns -->
    </div> <!-- row -->

  </section>
