<!--================
   FEATURE BLOCK #1
====================-->

  <section id="feature-block-1">

    <div class="full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="feature-block-1-wrapper">

          <div class="feature-block-1-img">
            <img src="assets/img/Hero_SamplePad_4.png">
          </div> <!-- feature-block-1-img -->

          <div class="feature-block-1-hover-content">

            <div class="feature-block-1-hover-header">
              <h1>SAMPLEPAD4</h1>
            </div> <!-- feature-block-1-hover-header -->

            <div class="feature-block-1-hover-sub-header">
              <h4>Sample Triggering Instrument</h4>
            </div> <!-- feature-block-1-hover-sub-header -->

            <div class="feature-block-1-hover-btn">
              <a href="#"><span>Learn More</span></a>
            </div> <!-- feature-block-1-hover-btn -->

          </div> <!-- feature-block-1-hover-content -->

        </div> <!-- feature-block-1-wrapper -->
      </div> <!-- columns -->
    </div> <!-- row -->

  </section>
