<!--================
   FEATURE BLOCK #2
====================-->

  <section id="feature-block-2">

    <div class="full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="feature-block-2-wrapper">

          <div class="feature-block-2-img">
            <img src="assets/img/Slug_Crimson_Mesh_Kit.png">
          </div> <!-- feature-block-2-img -->

          <div class="feature-block-2-hover-content">

            <div class="feature-block-2-hover-header">
              <h1>CRIMSON MESH KIT</h1>
            </div> <!-- feature-block-2-hover-header -->

            <div class="feature-block-2-hover-sub-header">
              <h4>Five-Piece Electronic Drum Kit with Mesh Heads</h4>
            </div> <!-- feature-block-2-hover-sub-header -->

            <div class="feature-block-2-hover-btn">
              <a href="#"><span>Learn More</span></a>
            </div> <!-- feature-block-2-hover-btn -->

          </div> <!-- feature-block-2-hover-content -->

        </div> <!-- feature-block-2-wrapper -->
      </div> <!-- columns -->
    </div> <!-- row -->

  </section>
