<!--================
        HERO
====================-->

  <section id="hero">

    <div class="hero-img-div text-center">
      <!-- <img src="assets/img/hero.png"> -->

      <div class="hero-content-wrapper">
        <div class="hero-header">
          <h2>Control your audio software and VST's on your computer, <br>straight from the VX49.</h2>
        </div> <!-- hero-header -->

        <div class="hero-btn">
          <span>Experience VX49</span>
        </div> <!-- hero-btn -->
      </div> <!-- hero-content-wrapper -->

    </div> <!-- hero-img-div -->

  </section>
