<!--================
      QUOTE STRIP
====================-->

  <section id="quote-strip">

    <div class="quote-strip-header">
      <h4>MODERN FEATURES <br> FOR MODERN MUSICIANS</h4>
    </div> <!-- quote-strip-header -->

    <div class="quote-strip-text">
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div> <!-- quote-strip-text -->


  </section>
