<!--================
      SOCIAL
====================-->

  <section id="social">

    <ul>
      <li><h3>CONNECT WITH US</h3></li>
      <li class="social-link"><a href="http://instagram.com/alesis_gear/">Instagram</a></li>
      <li class="social-link"><a href="http://www.twitter.com/alesis">Twitter</li></a>
      <li class="social-link"><a href="http://www.facebook.com/alesis">Facebook</li></a>
      <li class="social-link"><a href="http://www.google.com/+Alesis">Google+</li></a>
      <li class="social-link"><a href="http://youtube.com/alesisvideo">YouTube</li></a>
    </ul>

  </section>
