<!--================
      VIDEOS
====================-->

  <section id="videos">

  <div class="full-width-row">
    <div class="small-12 medium-12 large-12 columns">

      <div class="videos-header">
        <h1>Featured Videos</h1>
      </div> <!-- videos-header -->

      <div class="slick-carousel-wrapper">
        <div class="slick-carousel">
          <a href="http://www.mpctouch.com"><div><img data-lazy="assets/img/home-slider/1.jpg"/></div></a>
          <a href="http://www.akaipro.com/microsites/advance"><div><img data-lazy="assets/img/home-slider/2.jpg"/></div></a>
          <a href="http://akaipro.com/index.php/product/timbre-wolf"><div><img data-lazy="assets/img/home-slider/3.jpg"/></div></a>
          <a href="http://www.akaipro.com/index.php/product/mpd232"><div><img data-lazy="assets/img/home-slider/4.jpg"/></div></a>
        </div>
      </div> <!-- slick-carousel-wrapper -->


    </div> <!-- columns -->
  </div> <!-- row -->

  </section>
