<!--================
   VIDEO BLOCK #1
====================-->

  <section id="video-block-1">
    <div class="full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="video-block-1-wrapper">

          <div class="video-block-1-img">
            <img src="assets/img/Slug_Video_JasonSutter.png">
          </div> <!-- video-block-1-img -->

          <div class="video-block-1-hover-content">

            <div class="video-block-1-hover-header">
              <h1>"Most Realistic Mesh Heads"</h1>
            </div> <!-- video-block-1-hover-header -->

            <div class="video-block-1-hover-sub-header">
              <h4>– Jason Sutter</h4>
            </div> <!-- video-block-1-hover-sub-header -->

            <div class="video-block-1-hover-btn">
              <a href="#" data-reveal-id="videoModal"><span><i class="ion ion-play"></i> Play</span></a>
            </div> <!-- video-block-1-hover-btn -->

            <!-- Reveal Modals START -->
            <div id="videoModal" class="reveal-modal large" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
            <!-- <h2 id="videoModalTitle">This modal has video</h2> -->
            <div class="flex-video widescreen vimeo">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/iJ_hHo__XkY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>

          </div> <!-- video-block-1-hover-content -->

        </div> <!-- video-block-1-wrapper -->
      </div> <!-- columns -->
    </div> <!-- row -->
  </section>


















