<!--================
      VIDEOS
====================-->

  <section id="videos">

  <div class="full-width-row">
    <div class="small-12 medium-12 large-12 columns">

      <div class="videos-header">
        <h1>Featured Videos</h1>
      </div> <!-- videos-header -->

      <div class="slick-carousel-wrapper">
        <div class="slick-carousel">
          <div><iframe width="1280" height="720" src="https://www.youtube.com/embed/Hg1aI1eikSc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
          <div><iframe width="1280" height="720" src="https://www.youtube.com/embed/iJ_hHo__XkY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
          <div><iframe width="1280" height="720" src="https://www.youtube.com/embed/JwmWrOWAiOA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
          <div><iframe width="1280" height="720" src="https://www.youtube.com/embed/ynTpYeG4tEQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
        </div>
      </div> <!-- slick-carousel-wrapper -->


    </div> <!-- columns -->
  </div> <!-- row -->

  </section>
