<!--====================
    PRODUCT SPECS
========================-->

  <section id="legacy-features" class="product-content-jquery">

    <div class="full-width-row">
      <div class="small-12 medium-6 large-8 columns">
        <div class="legacy-features-wrapper">
          <div class="legacy-features-header">
            <h2>Features</h2>
          </div> <!-- legacy-features-header -->
          <div class="legacy-features-content">
            <ul>
              <li>49 full-sized, square-front, semi-weighted keys with aftertouch</li>
              <li>16 velocity-sensitive RGB pads for beat production and clip launching</li>
              <li>36 assignable buttons and 12 assignable knobs interface with your music software</li>
              <li>Pitch and modulation wheels deliver expressive, creative control</li>
              <li>Seamless, visual feedback via LED screen and illuminated buttons and knobs</li>
              <li>USB MIDI and 5-pin MIDI Out offer flexible MIDI connectivity</li>
              <li>USB power and plug-and-play support for Mac and PC</li>
              <li>Production software included: Ableton Live Lite and Xpand!2 by AIR Music Tech</li>
            </ul>
          </div> <!-- legacy-features-content -->
        </div> <!-- legacy-features-wrapper -->
      </div> <!-- columns -->
    <!-- </div> --> <!-- row -->

    <!-- <hr class="legacy-features-hr"> -->


    <!-- <div class="full-width-row"> -->
      <div class="small-12 medium-6 large-4 columns">
        <div class="legacy-packaging-contents-wrapper">
          <div class="legacy-packaging-contents-header">
            <h2>Contents</h2>
          </div> <!-- packaging-contents-header -->
          <div class="legacy-packaging-contents-content">
            <ul>
              <li>VI49 MIDI Keyboard Controller</li>
              <li>USB Cable</li>
              <li>Ableton Live Lite (Download)</li>
              <li>Xpand!2 by AIR Music Tech (Download)</li>
              <li>User Guide</li>
              <li>Safety &amp; Warranty Manual</li>
            </ul>
          </div> <!-- legacy-packaging-contents-content -->
        </div> <!-- legacy-packaging-contents-wrapper -->
      </div> <!-- columns -->
    </div> <!-- row -->

  </section>











