<!--================
        FOOTER
====================-->

  <footer>

    <div class="footer-wrapper">
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div class="footer-header text-center">
            <h6>STAY INFORMED</h6>
            <h1>SUBSCRIBE NOW</h1>
            <div class="footer-blue-line text-center"></div>
           </div> <!-- footer-header -->
        </div> <!-- columns -->
      </div> <!-- row -->

      <div class="row email-input-row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" placeholder="name@email.com">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix"><i class="ion ion-arrow-right-c"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div class="footer-bottom text-center">
            <p>Alesis is a registered trademark of inMusicBrands, LLC.</p>
           </div> <!-- footer-header -->
        </div> <!-- columns -->
      </div> <!-- row -->

    </div> <!-- footer-wrapper -->
    <div class="footer-gutter"></div>
  </footer>
