<!--================
        FOOTER
====================-->

  <section id="footer">

    <div class="footer-wrapper">
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div class="footer-header text-center">
            <h6>STAY INFORMED</h6>
            <ul>

              <li class="footer-socials footer-instagram">
                <a href="#">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 72 72" style="enable-background:new 0 0 72 72;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M36,2.3C17.4,2.3,2.3,17.4,2.3,36c0,18.6,15.1,33.7,33.7,33.7S69.7,54.6,69.7,36C69.7,17.4,54.6,2.3,36,2.3z M49,44.5
                      c0,3-2.4,5.5-5.3,5.5H27.3c-2.9,0-5.3-2.5-5.3-5.5V32h7.9c-0.8,1.2-1.3,2.6-1.3,4.1c0,3.9,3.1,7.1,6.9,7.1c3.8,0,6.9-3.2,6.9-7.1
                      c0-1.5-0.5-3-1.3-4.1H49V44.5z M30.2,36.1c0-1.6,0.7-3.1,1.8-4.1c0.4-0.4,0.8-0.6,1.3-0.9c0.7-0.3,1.4-0.5,2.2-0.5
                      c0.8,0,1.5,0.2,2.2,0.5c0.5,0.2,0.9,0.5,1.3,0.9c1.1,1,1.8,2.5,1.8,4.1c0,3-2.4,5.5-5.3,5.5C32.6,41.6,30.2,39.2,30.2,36.1z
                       M49,27.5v3.6h-8.6c-1.3-1.3-3-2.1-4.9-2.1c-1.9,0-3.7,0.8-4.9,2.1H22v-3.6c0-1.9,0.9-3.5,2.3-4.5V29h1.1v-6.5
                      c0.2-0.1,0.5-0.2,0.8-0.3V29h1.1V22c0,0,0.1,0,0.1,0H28V29h1.1V22h14.6C46.6,22,49,24.5,49,27.5L49,27.5z"/>
                    <path d="M45.7,24.3h-2.9c-0.5,0-0.9,0.4-0.9,0.9v3c0,0.5,0.4,0.9,0.9,0.9h2.9c0.5,0,0.9-0.4,0.9-0.9v-3
                      C46.6,24.7,46.2,24.3,45.7,24.3z"/>
                  </g>
                  <g>
                    <ellipse cx="35.5" cy="36.1" rx="3.9" ry="4.1"/>
                  </g>
                </g>
                </svg>
                </a>
              </li>  <!-- class="footer-instagram" -->


              <li class="footer-socials footer-twitter">
                <a href="#">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 72 72" style="enable-background:new 0 0 72 72;" xml:space="preserve">
                <path d="M36,2.3C17.4,2.3,2.3,17.4,2.3,36c0,18.6,15.1,33.7,33.7,33.7S69.7,54.6,69.7,36C69.7,17.4,54.6,2.3,36,2.3z M45.4,31.2
                  c0,0.2,0,0.5,0,0.7c0,7-5.2,15.1-14.6,15.1c-2.9,0-5.6-0.9-7.9-2.4c0.4,0,0.8,0.1,1.2,0.1c2.4,0,4.6-0.8,6.4-2.3
                  c-2.2,0-4.1-1.6-4.8-3.7c0.3,0.1,0.6,0.1,1,0.1c0.5,0,0.9-0.1,1.4-0.2C25.8,38.2,24,36,24,33.5c0,0,0,0,0-0.1
                  c0.7,0.4,1.5,0.6,2.3,0.7c-1.4-1-2.3-2.6-2.3-4.4c0-1,0.3-1.9,0.7-2.7c2.5,3.2,6.3,5.3,10.6,5.5c-0.1-0.4-0.1-0.8-0.1-1.2
                  c0-2.9,2.3-5.3,5.1-5.3c1.5,0,2.8,0.6,3.7,1.7c1.2-0.2,2.3-0.7,3.3-1.3c-0.4,1.2-1.2,2.3-2.3,2.9c1-0.1,2-0.4,2.9-0.8
                  C47.3,29.5,46.4,30.5,45.4,31.2z"/>
                </svg>
                </a>
              </li>



              <li class="footer-socials footer-facebook">
                <a href="#">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 72 72" style="enable-background:new 0 0 72 72;" xml:space="preserve">
                <path d="M36,2.3C17.4,2.3,2.3,17.4,2.3,36c0,18.6,15.1,33.7,33.7,33.7S69.7,54.6,69.7,36C69.7,17.4,54.6,2.3,36,2.3z M42,28.8h-3.4
                  c-0.4,0-0.9,0.5-0.9,1.3v2.5H42v3.6h-4.3V47h-4V36.2H30v-3.6h3.7v-2.1c0-3,2.1-5.5,4.9-5.5H42V28.8z"/>
                </svg>
                </a>
              </li>



              <li class="footer-socials footer-youtube">
              <a href="#">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Youtube_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 72 72" style="enable-background:new 0 0 72 72;" xml:space="preserve">
                <g>
                  <path d="M35.3,27.5c-0.7,0-0.8,0.9-0.8,0.9v4.5c0,0,0,1,0.8,1c0.8,0,0.8-0.9,0.8-0.9l0-4.6C36.2,28.4,36.1,27.5,35.3,27.5z"/>
                  <path d="M36,2.3C17.4,2.3,2.3,17.4,2.3,36c0,18.6,15.1,33.7,33.7,33.7S69.7,54.6,69.7,36C69.7,17.4,54.6,2.3,36,2.3z M40.9,26
                    l0,6.6c0,0-0.1,1.3,0.4,1.2c0.8,0,1.1-0.8,1.1-0.8l0-7H44v9.3l-1.6,0v-1c0,0-0.2,0.2-1,0.7c-2.4,1.3-2.2-0.9-2.2-0.9l0-8.2H40.9z
                     M32.9,28.2c0,0,0-2.2,2.4-2.2c2.4,0,2.5,2.2,2.5,2.2l0,5c0,0-0.1,2.3-2.5,2.3s-2.5-2.4-2.5-2.4L32.9,28.2z M28.3,22.9l1.3,4.9
                    l1.3-4.9h1.9l-2.2,7.5v4.9l-1.9,0l0-4.9l-2.3-7.6H28.3z M48.7,49.5c0,0.3-0.3,0.6-0.6,0.6H24.8l-0.6-0.6V36.8
                    c0-0.3,0.3-0.6,0.6-0.6h23.3c0.3,0,0.6,0.3,0.6,0.6V49.5z"/>
                  <path d="M25.4,37.4h5.3v1.7h-1.8v9.8h-1.8v-9.8h-1.7L25.4,37.4z"/>
                  <path d="M31,40.4h1.6v6.4c0,0-0.1,1,0.4,0.9c0.6,0,1-0.7,1-0.7l0-6.6h1.5V49H34l0-0.8c0,0-1.1,0.9-2,0.9c-0.9,0-0.9-1.3-0.9-1.3
                    L31,40.4z"/>
                  <path d="M41.5,47.5V42c0,0,0-1.8-1.3-1.8c-1.1,0-1.7,0.9-1.7,0.9v-3.8h-1.5V49h1.5v-0.7c0,0,0.9,0.9,1.6,0.9
                    C41.5,49.1,41.5,47.5,41.5,47.5z M39.2,47.7c-0.5,0-0.8-0.5-0.8-0.5v-5.1c0,0,0.2-0.5,0.8-0.5c0.7,0,0.6,1,0.6,1V47
                    C39.9,47,40,47.7,39.2,47.7z"/>
                  <path d="M45.2,40.3c-2.5,0-2.4,2.5-2.4,2.5v4c0,0,0,2.3,2.3,2.3c2,0,2.3-1.9,2.3-1.9l0-1.1l-1.6,0v0.9c0,0,0,0.8-0.8,0.8
                    c-0.7,0-0.7-0.9-0.7-0.9V45h3.1l0-2.4C47.5,42.6,47.6,40.3,45.2,40.3z M45.8,43.7h-1.5c0,0-0.3-2,0.8-2
                    C46.1,41.7,45.8,43.7,45.8,43.7z"/>
                </g>
                </svg>
                </a>
              </li>
            </ul>
            <div class="footer-blue-line text-center"></div>
            <h1>SUBSCRIBE NOW</h1>
           </div> <!-- footer-header -->
        </div> <!-- columns -->
      </div> <!-- row -->

    <div class="footer-subscribe-wrapper">
      <div class="row email-input-row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" placeholder="name@email.com">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix"><!-- <i class="ion ion-arrow-right-c"></i> --><span>Submit</span></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- footer-subscribe-wrapper -->

      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div class="footer-bottom text-center">
            <p>Alesis is a registered trademark of inMusicBrands, LLC.</p>
           </div> <!-- footer-header -->
        </div> <!-- columns -->
      </div> <!-- row -->

    </div> <!-- footer-wrapper -->
   <!--  <div class="footer-gutter"></div> -->
  </section>
