<!--================
  MOBILE NAVIGATION
====================-->

  <section id="mobile-nav" class="hide-for-large-up">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Something</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!--==== PRODUCTS ====-->
        <ul>
          <li class="has-dropdown">
            <a href="#">Products</a>
            <ul class="dropdown">
            <!--==== DRUMS & PERCUSSION ====-->
              <ul>
                <li class="has-dropdown">
                  <a href="#"><h3 class="mega-menu-heading">Drums &amp; Percussion</h3></a>
                  <ul class="dropdown products-ul">
                    <li>
                      <a href="#">E-Drums</a>
                    </li>
                    <li>
                      <a href="#">Multipads</a>
                    </li>
                    <li>
                      <a href="#">Drum Machines</a>
                    </li>
                    <li>
                      <a href="#">Drum Modules</a>
                    </li>
                    <li>
                      <a href="#">Drum Amps</a>
                    </li>
                    <li>
                      <a href="#" class="view-accessories">View Accessories</a>
                    </li>
                  </ul> <!-- dropdown products-ul -->
                </li> <!-- has-dropdown -->
              </ul>

            <!--==== KEYBOARDS ====-->
              <ul>
                <li class="has-dropdown">
                  <a href="#"><h3 class="mega-menu-heading">Keyboards</h3></a>
                  <ul class="dropdown products-ul">
                    <li>
                      <a href="#">Digital Pianos</a>
                    </li>
                    <li>
                      <a href="#">Midi Keytars</a>
                    </li>
                    <li>
                      <a href="#">Midi Controllers</a>
                    </li>
                    <li>
                      <a href="#">Synthesizers</a>
                    </li>
                    <li>
                      <a href="#"  class="view-accessories">View Accessories</a>
                    </li>
                  </ul> <!-- class="dropdown products-ul" -->
                </li> <!-- class="has-dropdown" -->
              </ul>

            <!--==== LIVE SOUND ====-->
              <ul>
                <li class="has-dropdown">
                    <a href="#"><h3 class="mega-menu-heading">Live Sound</h3></a>
                  <ul class="dropdown products-ul">
                    <li>
                      <a href="#">Amplifiers</a>
                    </li>
                    <li>
                      <a href="#">Wireless Systems</a>
                    </li>
                    <li>
                      <a href="#">Mixers</a>
                    </li>
                    <li>
                      <a href="#">Signal Processors</a>
                    </li>
                    <li>
                      <a href="#"  class="view-accessories">View Accessories</a>
                    </li>
                  </ul> <!-- class="dropdown products-ul" -->
                </li> <!-- class="has-dropdown" -->
              </ul>

            <!--==== RECORDING ====-->
              <ul>
                <li class="has-dropdown">
                  <a href="#"><h3 class="mega-menu-heading">Recording</h3></a>
                  <ul class="dropdown products-ul">
                    <li>
                      <a href="#">Monitors</a>
                    </li>
                    <li>
                      <a href="#">Audio Interfaces</a>
                    </li>
                    <li>
                      <a href="#">Headphones</a>
                    </li>
                    <li>
                      <a href="#" class="view-accessories">View Accessories</a>
                    </li>
                  </ul> <!-- class="dropdown products-ul" -->
                </li> <!-- class="has-dropdown" -->
              </ul>

            </ul> <!-- class="dropdown" -->
          </li> <!-- class="has-dropdown" -->


        <!--==== COMPANY ====-->
          <li class="has-dropdown">
            <a href="#">Company</a>
            <ul class="dropdown">
              <li>
                <a href="#">Careers</a>
              </li>

              <li>
                <a href="#">Contact</a>
              </li>

              <li>
                <a href="#">History</a>
              </li>

              <li>
                <a href="#">News</a>
              </li>

              <li>
                <a href="#">Policy</a>
              </li>
            </ul> <!-- class="dropdown" -->
          </li> <!-- class="has-dropdown" -->


        <!--==== SUPPORT ====-->
          <li class="has-dropdown">
            <a href="#">Support</a>
            <ul class="dropdown">
              <li>
                <a href="#">Customer Support</a>
              </li>

              <li>
                <a href="#">Forum</a>
              </li>

              <li>
                <a href="#">Support Options</a>
              </li>
            </ul> <!-- class="dropdown" -->
          </li> <!-- class="has-dropdown" -->

        <!--==== DEALERS ====-->
          <li>
            <a href="#">Dealers</a>
          </li>

        <!--==== LOCATION ====-->
          <li class="has-dropdown">
            <a href="#">Location</a>
            <ul class="dropdown">
              <li>
                <a href="http://akaipro.com/company/about">Brasil</a>
             </li>
              <li>
                <a href="http://akaipro.com/dealers">Canada</a>
             </li>
              <li>
                <a href="http://akaipro.com/company/international-distributors">France</a>
             </li>
              <li>
                <a href="http://akaipro.com/company/media-resources">Germany</a>
             </li>
              <li>
                <a href="http://www.akaipro.com/careers/index">Japan</a>
             </li>
              <li>
                <a href="http://www.akaipro.com/careers/index">Latin America</a>
             </li>
              <li>
                <a href="http://www.akaipro.com/careers/index">United Kingdom</a>
             </li>
              <li>
                <a href="http://www.akaipro.com/careers/index">United States</a>
             </li>
            </ul> <!-- class="dropdown" -->
          </li> <!-- class="has-dropdown" -->


          <li>
            <a href="#">Login</a>
          </li>


          <li>
            <a href="#">Sign Up</a>
          </li>
        </ul>

      </section>
    </nav>
  </section>
