<!--================
      NAVIGATION
====================-->
  <section id="roberge-navigation" class="show-for-large-up">
    <div class="roberge-wrapper">
    <!-- <div class="roberge-logo-div">
      <img src="assets/img/akai_logo.png">
    </div> --> <!-- roberge-logo-div -->

    <!-- <div class="roberge-nav-hr"></div> -->


    <div class="content">
    <ul id="jetmenu" class="jetmenu blue">

    <!--==== PRODUCTS ====-->

      <li class="roberge-logo-div">
        <div class="roberge-logo-div">
          <img src="assets/img/logo.png">
        </div> <!-- roberge-logo-div -->
      </li>

      <li><a href="#" class="jet-menu-item-1">Products</a>
        <div class="megamenu full-width">
          <div class="full-width-row">

<!--=====================================================================
    PRODUCTS      PRODUCTS      PRODUCTS      PRODUCTS      PRODUCTS
=========================================================================-->

          <!--==== COLUMN #1 ====-->
          <div class="medium-3 large-3 columns">
            <ul class="products-ul">
              <li>
                <a href="http://www.akaipro.com/category/new-products">New Products</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/mpc-series">MPC Series</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/keyboards">Keyboards</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/dj-controllers">DJ Controllers</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/pad-controllers">Pad Controllers</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/ableton-controllers">Ableton Controllers</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/ewi-series">EWI Series</a>
              </li>
            </ul>
          </div> <!-- medium-3 large-3 columns -->

          <!--==== COLUMN #2 ====-->
          <div class="medium-3 large-3 columns">
            <ul class="products-ul">
              <li>
                <a href="http://www.akaipro.com/category/monitors">Monitors</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/recording">Recording</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/guitar-pedals">Guitar Pedals</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/drum-machines-synths">Drum Machines &amp; Synths</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/accessories">Accessories</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/expansions-and-sound-sets">Expansions &amp; Sound Sets</a>
              </li>
              <li>
                <a href="http://www.akaipro.com/category/legacy-products">Legacy Products</a>
              </li>
            </ul>
          </div><!--end of .column-->

          <!--==== COLUMN #3 ====-->
          <div class="medium-3 large-3 columns">
            <div class="block-grid-wrapper">
              <a href="http://www.mpctouch.com"><img class="nav-block-img" src="assets/img/featured-products-new/mpctouch_menu_slug.jpg"></a>
              <!-- <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p> -->
            </div> <!-- block-grid-wrapper -->
          </div> <!-- medium-3 large-3 columns -->

          <!--==== COLUMN #4 ====-->
          <div class="medium-3 large-3 columns">
            <div class="block-grid-wrapper">
              <a href="http://akaipro.com/index.php/product/timbre-wolf"><img class="nav-block-img" src="assets/img/featured-products-new/2.jpg"></a>
              <!-- <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</p> -->
            </div> <!-- block-grid-wrapper -->
          </div> <!-- medium-3 large-3 columns -->

          </div> <!-- row -->
        </div> <!-- megamenu full-width -->
      </li>

<!--=====================================================================
    COMPANY      COMPANY      COMPANY      COMPANY      COMPANY
=========================================================================-->

      <li><a href="#" class="jet-menu-item-4">Company</a>
        <div class="megamenu full-width">
          <div class="full-width-row">

            <!--==== COLUMN #1 ====-->
            <div class="medium-3 large-3 columns">
              <h3 class="mega-menu-heading">Company</h3>
              <ul class="company-ul">
                <li>
                  <a href="http://akaipro.com/company/about">About Us</a>
                </li>
                <li>
                  <a href="http://akaipro.com/dealers">Dealers</a>
                </li>
                <li>
                  <a href="http://akaipro.com/company/international-distributors">International Distributors</a>
                </li>
                <li>
                  <a href="http://akaipro.com/company/media-resources">Media Resources</a>
                </li>
                <li>
                  <a href="http://www.akaipro.com/careers/index">Careers</a>
                </li>
                <li>
                  <a href="http://akaipro.com/company/privacy">Privacy</a>
                </li>
              </ul>
            </div> <!-- columns -->

            <!--==== COLUMN #2 ====-->
            <div class="medium-3 large-3 columns">
              <h3 class="mega-menu-heading">News</h3>
                <ul class="company-ul">
                  <li>
                    <a href="http://akaipro.com/news">Press Releases</a>
                  </li>
                  <li>
                    <a href="http://akaipro.com/news/newsletter">Newsletter</a>
                  </li>
                  <h3 class="mega-menu-heading">Artists</h3>
                  <li>
                    <a href="http://akaipro.com/artist/list">See All</a>
                  </li>
                  <h3 class="mega-menu-heading">My Account</h3>
                  <li>
                    <a href="http://akaipro.com/my-account">Login</a>
                  </li>
                  <li>
                    <a href="http://akaipro.com/my-account/create-account">Create</a>
                  </li>
                </ul>
              </div><!--end of .column-->

              <!--==== COLUMN #3 ====-->
              <div class="medium-3 large-3 columns">
                <div class="block-grid-wrapper">
                  <a href="http://www.akaipro.com/microsites/advance"><img class="nav-block-img" src="assets/img/featured-products-new/1.jpg"></a>
                  <!-- <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p> -->
                </div> <!-- block-grid-wrapper -->
              </div> <!-- medium-3 large-3 columns -->

              <!--==== COLUMN #4 ====-->
              <div class="medium-3 large-3 columns">
                <div class="block-grid-wrapper">
                  <a href="http://www.akaipro.com/category/ewi-series"><img class="nav-block-img" src="assets/img/featured-products-new/3.jpg"></a>
                  <!-- <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</p> -->
                </div> <!-- block-grid-wrapper -->
              </div> <!-- medium-3 large-3 columns -->

          </div> <!-- full-width-row -->
        </div> <!-- megamenu full-width -->
      </li>

      <!--==== SUPPORT ====-->
        <li><a href="http://akaipro.com/support" class="jet-menu-item-3">Support</a></li>

      <!--==== DEALERS ====-->
        <li><a href="http://akaipro.com/support" class="jet-menu-item-3">Dealers</a></li>

      <!--==== LOCATIOn ====-->
        <li><a href="http://akaipro.com/support" class="jet-menu-item-3">Location</a></li>



      <li class="jet-menu-item-5">
        <!-- <div class="nav-bar-search-icon">
          <i class="icon ion-search"></i>
        </div>  -->
        <div id="nav-search">
          <i class="icon ion-search"></i>
        </div>
      </li>

      <li class="nav-login-btn">
        <div class="login-div">
          <span>Login</span>
        </div> <!-- login-div -->
      </li> <!-- nav-login-btn -->

      <li class="nav-signup-btn">
        <div class="signup-div">
          <span>Sign Up</span>
        </div> <!-- login-div -->
      </li> <!-- nav-login-btn -->

      </ul> <!-- #jetmenu -->
    </div> <!-- content -->
    </div> <!-- roberge-wrapper -->
  </section>
