<!--================
      NAVIGATION
====================-->
  <section id="roberge-navigation" class="show-for-large-up">
    <div class="roberge-wrapper">
    <!-- <div class="roberge-logo-div">
      <img src="assets/img/akai_logo.png">
    </div> --> <!-- roberge-logo-div -->

    <!-- <div class="roberge-nav-hr"></div> -->


    <div class="content">
    <ul id="jetmenu" class="jetmenu blue">

    <!--==== PRODUCTS ====-->

      <li class="roberge-logo-div">
        <div class="roberge-logo-div">
          <img src="assets/img/logo.png">
        </div> <!-- roberge-logo-div -->
      </li>

      <li><a href="#" class="jet-menu-item-1">Products</a>
        <div class="megamenu full-width">
          <div class="full-width-row">


<!--=====================================================================
    PRODUCTS      PRODUCTS      PRODUCTS      PRODUCTS      PRODUCTS
=========================================================================-->

      <!--==== COLUMN #1 ====-->
      <div class="medium-3 large-3 columns">
        <h3 class="mega-menu-heading">Drums &amp; Percussion</h3>
        <ul class="products-ul">
          <li>
            <a href="#">E-Drums</a>
          </li>
          <li>
            <a href="#">Multipads</a>
          </li>
          <li>
            <a href="#">Drum Machines</a>
          </li>
          <li>
            <a href="#">Drum Modules</a>
          </li>
          <li>
            <a href="#">Drum Amps</a>
          </li>
          <li>
            <a href="#" class="view-accessories">View Accessories</a>
          </li>
        </ul>
      </div> <!-- medium-3 large-3 columns -->

      <!--==== COLUMN #2 ====-->
      <div class="medium-3 large-3 columns">
        <h3 class="mega-menu-heading">Keyboards</h3>
        <ul class="products-ul">
          <li>
            <a href="#">Digital Pianos</a>
          </li>
          <li>
            <a href="#">Midi Keytars</a>
          </li>
          <li>
            <a href="#">Midi Controllers</a>
          </li>
          <li>
            <a href="#">Synthesizers</a>
          </li>
          <li>
            <a href="#"  class="view-accessories">View Accessories</a>
          </li>
        </ul>
      </div><!--end of .column-->

      <!--==== COLUMN #3 ====-->
      <div class="medium-3 large-3 columns">
        <h3 class="mega-menu-heading">Live Sound</h3>
        <ul class="products-ul">
          <li>
            <a href="#">Amplifiers</a>
          </li>
          <li>
            <a href="#">Wireless Systems</a>
          </li>
          <li>
            <a href="#">Mixers</a>
          </li>
          <li>
            <a href="#">Signal Processors</a>
          </li>
          <li>
            <a href="#"  class="view-accessories">View Accessories</a>
          </li>
        </ul>
      </div><!--end of .column-->

      <!--==== COLUMN #4 ====-->
      <div class="medium-3 large-3 columns">
        <h3 class="mega-menu-heading">Recording</h3>
        <ul class="products-ul">
          <li>
            <a href="##>Monitors</a>
          </li>
          <li>
            <a href="##>Audio Interfaces</a>
          </li>
          <li>
            <a href="##>Headphones</a>
          </li>
          <li>
            <a href="#""  class="view-accessories">View Accessories</a>
          </li>
        </ul>
      </div><!--end of .column-->

      </div> <!-- row -->
    </div> <!-- megamenu full-width -->
  </li>

<!--=====================================================================
    COMPANY      COMPANY      COMPANY      COMPANY      COMPANY
=========================================================================-->

      <li><a href="#" class="jet-menu-item-2">Company</a>
        <div class="megamenu full-width">
          <div class="full-width-row company-row">

            <!--==== COLUMN #1 ====-->
            <div class="medium-12 large-12 columns">
              <h3 class="mega-menu-heading">Company Info</h3>

              <div class="medium-2 large-2 columns">
                <a href="#">Careers</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <a href="#">Contact</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <a href="#">History</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <a href="#">News</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <a href="#">Policy</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <!-- <a href="http://www.akaipro.com/careers/index">Policy</a> -->
              </div> <!-- columns -->
            </div> <!-- columns -->
          </div> <!-- full-width-row -->
        </div> <!-- megamenu full-width -->
      </li>


<!--=====================================================================
    SUPPORT      SUPPORT      SUPPORT      SUPPORT      SUPPORT
=========================================================================-->

      <li><a href="#" class="jet-menu-item-3">SUPPORT</a>
        <div class="megamenu full-width">
          <div class="full-width-row support-row">

            <!--==== COLUMN #1 ====-->
            <div class="medium-12 large-12 columns">
              <h3 class="mega-menu-heading">Customer Help</h3>

              <div class="medium-2 large-2 columns">
                <a href="#">Customer Support</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <a href="#">Forum</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <a href="#">Support Options</a>
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <!-- <a href="http://akaipro.com/company/media-resources">News</a> -->
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <!-- <a href="http://www.akaipro.com/careers/index">Policy</a> -->
              </div> <!-- columns -->

              <div class="medium-2 large-2 columns">
                <!-- <a href="http://www.akaipro.com/careers/index">Policy</a> -->
              </div> <!-- columns -->
            </div> <!-- columns -->
          </div> <!-- full-width-row -->
        </div> <!-- megamenu full-width -->
      </li>


<!--=====================================================================
    DEALERS      DEALERS      DEALERS      DEALERS      DEALERS
=========================================================================-->

      <li><a href="#" class="jet-menu-item-4">Dealers</a>
        <div class="megamenu full-width">
          <div class="full-width-row dealer-row">

            <!--==== COLUMN #1 ====-->
            <div class="medium-12 large-6 columns">
              <h3 class="mega-menu-heading">Locate Dealers</h3>
              <form>
              <div class="locate-dealer-wrapper">
                <input class="zip-code-input"  type="text" placeholder="ZIP CODE" />
                <input id="checkbox1" type="checkbox"><label for="checkbox1">STORE LOCATION</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">ONLINE DEALER</label>
                <a href="#" class="button zip-code-btn">LOCATE</a>
              </form>
              </div> <!-- locate-dealer-wrapper -->
            </div> <!-- columns -->

            <!--==== COLUMN #2 ====-->
            <div class="medium-12 large-6 columns">
              <h3 class="mega-menu-heading">Locate International Dealers</h3>
              <form>
              <div class="international-dealer-wrapper">
                <input class="country-code-input"  type="text" placeholder="COUNTRY" />
                <a href="#" class="button international-code-btn">LOCATE</a>
              </form>
              </div> <!-- international-dealer-wrapper -->
            </div> <!-- columns -->
          </div> <!-- full-width-row -->
        </div> <!-- megamenu full-width -->
      </li>


<!--=====================================================================
    LOCATION      LOCATION      LOCATION      LOCATION      LOCATION
=========================================================================-->

  <li><a href="#" class="jet-menu-item-5">Location</a>
    <div class="megamenu full-width">
      <div class="full-width-row location-row">

        <!--==== COLUMN #1 ====-->
        <div class="medium-12 large-12 columns">
          <h3 class="mega-menu-heading">Location</h3>

          <div class="locations-flex-div-wrapper">
            <div class="locations-div">
              <a href="http://akaipro.com/company/about">Brasil</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://akaipro.com/dealers">Canada</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://akaipro.com/company/international-distributors">France</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://akaipro.com/company/media-resources">Germany</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://www.akaipro.com/careers/index">Japan</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://www.akaipro.com/careers/index">Latin America</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://www.akaipro.com/careers/index">United Kingdom</a>
            </div> <!-- columns -->

            <div class="locations-div">
              <a href="http://www.akaipro.com/careers/index">United States</a>
            </div> <!-- columns -->
          </div> <!-- locations-flex-div-wrapper -->

        </div> <!-- columns -->
      </div> <!-- full-width-row -->
    </div> <!-- megamenu full-width -->
  </li>

  <div class="nav-separator"></div>



<!--=====================================================================
    LOGIN      LOGIN      LOGIN      LOGIN      LOGIN
=========================================================================-->

      <li><a href="#" class="jet-menu-item-6">Login</a>
        <div class="megamenu full-width">
          <div class="full-width-row dealer-row">
            <div class="login-wrapper">
              <!--==== COLUMN #1 ====-->
              <div class="medium-12 large-12 columns">
                <h3 class="mega-menu-heading">Login</h3>
                <form>
                  <div class="locate-dealer-wrapper">
                    <input class="login-email-input-2"  type="text" placeholder="EMAIL" />
                    <input class="password-login-input"  type="text" placeholder="PASSWORD" />
                    <a href="#" class="button international-code-btn">LOCATE</a>
                  </div> <!-- locate-dealer-wrapper -->
                </form>
              </div> <!-- columns -->
              <div class="forgot-password-div">
                <p>FORGOT YOUR <a href="#"><span>PASSWORD</span>?</a></p>
              </div> <!-- forgot-password-div -->
            </div> <!-- login-wrapper -->
          </div> <!-- full-width-row -->
        </div> <!-- megamenu full-width -->
      </li>

<!--=====================================================================
    SIGNUP      SIGNUP      SIGNUP      SIGNUP      SIGNUP
=========================================================================-->

      <li><a href="#" class="jet-menu-item-7 nav-signup-btn"><span class="jet-menu-item-7">SIGN UP</span></a>
        <div class="megamenu full-width">
          <div class="full-width-row dealer-row">
            <div class="signup-main-wrapper">
              <!--==== COLUMN #1 ====-->
              <div class="medium-12 large-12 columns">
                <h3 class="mega-menu-heading">Login</h3>
                <form>
                  <div class="signup-wrapper-1">
                    <input class="signup-first-name-input"  type="text" placeholder="FIRST NAME" />
                    <input class="signup-last-name-input"  type="text" placeholder="LAST NAME" />
                    <input class="signup-email-input"  type="text" placeholder="EMAIL" />
                  </div> <!-- locate-dealer-wrapper -->
                  <div class="signup-wrapper-2">
                    <input class="signup-password-input"  type="text" placeholder="PASSWORD" />
                    <input class="signup-password2-input"  type="text" placeholder="RE-TYPE PASSWORD" />
                    <a href="#" class="button signup-btn">SIGN UP</a>
                  </div> <!-- locate-dealer-wrapper -->
                </form>
              </div> <!-- columns -->
            </div> <!-- signup-main-wrapper -->
          </div> <!-- full-width-row -->
        </div> <!-- megamenu full-width -->
      </li>

<!--=====================================================================
    SEARCH      SEARCH      SEARCH      SEARCH     SEARCH
=========================================================================-->
      <li class="jet-menu-item-5">
        <div id="nav-search">
          <i class="icon ion-search"></i>
        </div>
      </li>

      <div class="search-nav-bar">
        <form>
          <div class="search-input-wrapper">
            <input class="search-form-input"  type="text" placeholder="Search..." />
            <div class="search-close-div">
              <i class="ion ion-close"></i>
            </div> <!-- search-close-div -->
          </div> <!-- search-input-wrapper -->
        </form>
      </div> <!-- search-nav-bar -->


      </ul> <!-- #jetmenu -->





    </div> <!-- content -->
    </div> <!-- roberge-wrapper -->
  </section>
