/*****************************************************************************
            GENERAL & OVERRIDES
******************************************************************************/

  $font-primary: $nexa;

  * {
    outline: none;
  }

  body {
    font-family: $font-primary;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 100%;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    //-webkit-text-stroke: .3px #fff;
  }

  h1, h2, h3, h4, h5, h6, a, p, span, li {
    font-family: $font-primary;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.45;
  }

  .full-width-row {
    margin: 0px;
    width: 100%;
    max-width: 100%;
  }

  .homepage-wrapper {
    // padding: 0 25px;
    // text-align: center;
    // border: 5px solid red;
  }

  .reveal-modal {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  .close-reveal-modal {
    font-size: 3em !important;
    color: #fff !important;
  }














