/*****************************************************************************
            GENERAL & OVERRIDES
******************************************************************************/

  $font-primary: $nexa;

  body {
    font-family: $font-primary;
  }

  h1, h2, h3, h4, h5, h6, a, p, span, li {
    font-family: $font-primary !important;
  }

  .full-width-row {
    margin: 0px;
    width: 100%;
    max-width: 100%;
  }

  .homepage-wrapper {
    padding: 0 25px;
    // text-align: center;
    // border: 5px solid red;
  }

