/****************************************
      PRODUCT HERO     PRODUCT HERO
*****************************************/

  section#product-hero {
    overflow: hidden;
    height: 60vh;
    padding-top: 100px;
    background: #f2f3f7 !important;
    // border: 5px solid red;

    .product-hero-container {
      height: 100%;
      // padding: 20px;
      background: #f2f3f7;
      // border: 2px solid blue;

      .product-hero-header {
        // border: 2px solid blue;

        h1 {
          margin: 0 !important;
          color: black;
          font-family: $nexa-light;
          font-size: 2.5em !important;
          text-transform: uppercase;
        }
      }

      .product-hero-sub-header {

        h4 {
          color: #8190a6;
          font-family: $nexa-light;
          font-size: 1.8em !important;
        }
      }

      .product-hero-img {
        // height: 100%;
        // width: 100%;
        // background: url('../img/product-page/vi49-angle.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-attachment: fixed;

        // border: 5px solid green;
      }
    } /* product-hero-container */
  } /* section#product-hero */
















