/****************************************
  PRODUCT OVERVIEW   PRODUCT OVERVIEW
*****************************************/

  section#product-overview {
    //height: 1500px;
    overflow: hidden;
    padding: 2% 0;
    // border: 5px solid red;

    .columns {
      padding: 0 !important;
    }

    h2 {
      font-size: 2vw;
      line-height: 1.2 !important;
    }

    p {
      font-size: 1.1em;
      line-height: 1.95 !important;
      // width: 80%;
    }

    /*====================
      PRODUCT OVERVIEW #1
      ====================*/

    .product-overview-block-1-wrapper {
      // height: 60vh;
      padding: 3% 0;
      width: 100%;
      // background: $light-gray;
      display: flex;
      align-items: center;
      // flex-direction: column;
      // border: 5px solid purple;

      .product-overview-block-1-left {
        padding: 5% 5% 5% 10%;
        height: 50vh;
        // border: 5px solid gold;

        .block-1-left-header {

          h2 {
            font-family: $nexa-light;
            text-transform: uppercase;
          }
        } /* block-1-left-header */

        .block-1-left-paragraph {
          //border: 2px solid red;
        } /* block-1-left-paragraph */
      } /* product-overview-block-1-left */

      .product-overview-block-1-right {
        height: 50vh;
        // overflow: hidden;
        // justify-content: center;
        // align-items: center;
        // border: 5px solid green;

        .block-1-right-img {
          text-align: right;
          // border: 2px solid red;

          img {
            height: 50%;
            // border: 2px solid yellow;
          }
        } /* block-1-right-img */
      } /* product-overview-block-1-right */
    } /* product-overview-block-1-wrapper */



    /*====================
      PRODUCT OVERVIEW #2
      ====================*/

    .product-overview-block-2-wrapper {
      // height: 60vh;
      padding: 3% 0;
      display: flex;
      align-items: center;
      // background: $light-gray;
      // border: 5px solid purple;

      .product-overview-block-2-right {
        padding: 5% 10% 5% 5%;
        height: 50vh;
        // border: 2px solid gold;

        .block-2-right-header {

          h2 {
            font-family: $nexa-light;
            text-transform: uppercase;
          }
        } /* block-2-right-header */

        .block-2-right-paragraph {
          // border: 5px solid green;
          p {
            margin: 0;
          }
        } /* block-2-right-paragraph */
      } /* product-overview-block-2-right */

      .product-overview-block-2-left {
        height: 50vh;
        // border: 2px solid purple;

        .block-2-left-img {

        } /* block-2-left-img */
      } /* product-overview-block-2-left */
    } /* product-overview-block-2-wrapper */



    /*====================
      PRODUCT OVERVIEW #3
      ====================*/

    .product-overview-block-3-wrapper {
      // height: 60vh;
      padding: 3% 0;
      display: flex;
      align-items: center;
      // background: $light-gray;
      // border: 5px solid orange;

      .product-overview-block-3-left {
        padding: 5% 5% 5% 10%;
        height: 50vh;
        // border: 2px solid gold;

        .block-3-left-header {

          h2 {
            font-family: $nexa-light;
            text-transform: uppercase;
          }
        } /* block-3-left-header */

        .block-3-left-paragraph {

        } /* block-3-left-paragraph */
      } /* product-overview-block-3-left */

      .product-overview-block-3-right {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid purple;

        .block-3-right-img {

        } /* block-3-right-img */
      } /* product-overview-block-3-right */
    } /* product-overview-block-3-wrapper */

    /*=========================
      PRODUCT OVERVIEW GALLERY
      =========================*/

      section#product-overview-gallery {
        // height: 60vh;
        padding: 4% 0;
        display: flex;
        align-items: center;

      .product-gallery-wrapper {
        width: 80%;
        margin: 0 auto;

        .columns {
          padding: 0;
        }

        .product-gallery {
          padding: 2px;
        }
      } /* product-gallery-wrapper */
    } /* section#product-overview-gallery */
  } /* section#product-overview */


.overview-gradient {
    background-color: #f9f9fa;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZTllYmVkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjU2Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(233, 235, 237)),color-stop(0.56, rgb(255, 255, 255)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top,rgb(233, 235, 237) 0%,rgb(255, 255, 255) 56%);
    /* IE10+ */
    background-image: linear-gradient(to bottom,rgb(233, 235, 237) 0%,rgb(255, 255, 255) 56%);
    background-image: -ms-linear-gradient(top,rgb(233, 235, 237) 0%,rgb(255, 255, 255) 56%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .overview-gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe9ebed",endColorstr="#ffffffff",GradientType=0);
    }
}

















