/****************************************
      PRODUCT HERO     PRODUCT HERO
*****************************************/

  section#product-hero {
    height: 70vh;
    padding-top: 100px;
    background: #f2f3f7 !important;

    .product-hero-container {
      height: 100%;
      padding: 20px;
      background: #f2f3f7;
      // border: 2px solid blue;

      .product-hero-header {

        h1 {
          margin: 0 !important;
          color: black;
          font-family: $nexa-light;
          font-size: 2.5em !important;
          text-transform: uppercase;
        }
      }

      .product-hero-sub-header {

        h4 {
          color: #8190a6;
          font-family: $nexa-light;
          font-size: 1.8em !important;
        }
      }

      .product-hero-img {

      }
    } /* product-hero-container */
  } /* section#product-hero */
