<!--================
  PRODUCT QUOTE STRIP
====================-->

  <section id="product-quote-strip">

  <div class="product-hero-header text-center">

        <div class="product-hero-sub-header text-center">

        </div> <!-- product-hero-sub-header -->

    <div class="product-quote-strip-header">
      <h1>vi49</h1>
      <h4>Advanced 49-Key USB/MIDI Controller</h4>
      <hr class="quote-strip-hr">
      <!-- <h4>TAKING COMMAND OF YOUR MUSIC PRODUCTION</h4> -->
    </div> <!-- product-quote-strip-header -->

    <div class="product-quote-strip-text">
      <p>Manipulate plugins and virtual instruments with hands-on controls. With VI49, you can open and close filters on virtual synthesizers, adjust volume levels in your mix, activate effects, and thats just the tip of the iceberg.</p>
    </div> <!-- product-quote-strip-text -->

    <div class="product-strip-down-arrow text-center">
      <a class="page-scroll" href="#sticky-nav"><img src="assets/img/product-page/down-arrow.png"></a>
    </div> <!-- product-strip-down-arrow -->

    <div id="auto-scroll-tartget"></div>


  </section>
