<!--================
    PRODUCT OVERVIEW
====================-->

  <section id="product-overview" class="product-content-jquery">
    <!--====================
    PRODUCT OVERVIEW #1
========================-->

<div class="full-width-row">
  <div class="product-overview-block-1-wrapper">
    <div class="small-6 medium-6 large-6 columns">
      <div class="product-overview-block-1-left">
        <div class="block-1-left-header">
          <h2>The building blocks of<br /> professional music production</h2>
        </div> <!-- block-1-left-header -->
        <div class="block-1-left-paragraph">
          <p>The Alesis VI25 lets you take command of your music software with a series of pads, knobs, and buttons. With 25 velocity-sensitive semi-weighted keys with aftertouch and Octa.ve Up/Down buttons, you can expand the keyboard to the full melodic range and play bass lines, chords, and melodies. VI25 also features 8 assignable knobs and 24 assignable buttons for manipulating effect plugins and virtual instruments: open and close filters, adjust volume levels, activate effects, tweak parameters, and more. 16 velocity-sensitive RGB trigger pads allow you to launch clips or finger drum with exceptional response and colorful visual feedback. Plus, pitch and modulation wheels expand the expressive capabilities of your performing.</p>
        </div> <!-- block-1-left-paragraph -->
      </div> <!-- product-overview-block-1-left -->
    </div> <!-- columns -->
    <div class="small-6 medium-6 large-6 columns">
      <div class="product-overview-block-1-right">
        <div class="block-1-right-img">
          <img src="assets/img/product-page/overview-ortho-1_80_percent.png">
        </div> <!-- block-1-right-img -->
      </div> <!-- product-overview-block-1-right -->
    </div> <!-- columns -->
  </div> <!-- product-overview-block-1-wrapper -->
</div> <!-- row -->
    <!--====================
    PRODUCT OVERVIEW #2
========================-->
<div class="full-width-row">
  <div class="product-overview-block-2-wrapper">
    <div class="small-6 medium-6 large-6 columns">
      <div class="product-overview-block-2-left">
        <div class="block-2-left-img">
          <img src="assets/img/product-page/overview-2.png">
        </div> <!-- block-2-left-img -->
      </div> <!-- product-overview-block-2-left -->
    </div> <!-- columns -->
    <div class="small-6 medium-6 large-6 columns">
      <div class="product-overview-block-2-right">
        <div class="block-2-right-header">
          <h2>Plug-and-Go Software</h2>
        </div> <!-- block-2-right-header -->
        <div class="block-2-right-paragraph">
          <p>VI25 was designed to seamlessly and effortlessly integrate with your music software. A single USB connection to your Mac or PC provides both power and MIDI functionality, allowing you to plug right into your computer and start making music. With the 5-pin MIDI Out, you can also use VI25 to control external MIDI modules, synthesizers, and more. A LED screen and illuminated knobs, buttons, and pads provide real-time visual feedback and are laid out for an intuitive workflow. Plus, VI25's compact design makes it easy to take this advanced MIDI controller on the road or implement it into any sized studio.</p>
        </div> <!-- block-2-right-paragraph -->
      </div> <!-- product-overview-block-2-right -->
    </div> <!-- columns -->
  </div> <!-- product-overview-block-2-wrapper -->
</div> <!-- row -->
    <!--====================
    PRODUCT OVERVIEW #3
========================-->
<div class="full-width-row">
  <div class="product-overview-block-3-wrapper">
    <div class="small-6 medium-6 large-6 columns">
      <div class="product-overview-block-3-left">
        <div class="block-3-left-header">
          <h2>Ableton Live &amp; XPAND!2</h2>
        </div> <!-- block-3-left-header -->
        <div class="block-3-left-paragraph">
          <p>Two dynamic pieces of software that enable you to record, produce, and perform with your computer. Ableton Live Lite is a fluid audio/MIDI environment that enables you to spontaneously record, remix, improvise, and edit musical ideas on the fly. Xpand!2 by Air is an advanced virtual instrument that comes with a collection of premium sounds, ranging from acoustic instruments to futuristic synthesizers. Together, these powerful music platforms allow you to create or perform music with VI25 right out of the box.</p>
        </div> <!-- block-3-left-paragraph -->
      </div> <!-- product-overview-block-3-left -->
    </div> <!-- columns -->
    <div class="small-6 medium-6 large-6 columns">
      <div class="product-overview-block-3-right">
        <div class="block-3-right-img">
          <img src="assets/img/product-page/overview-3.png">
        </div> <!-- block-3-right-img -->
      </div> <!-- product-overview-block-3-right -->
    </div> <!-- columns -->
  </div> <!-- product-overview-block-3-wrapper -->
</div> <!-- row -->
    <!--=======================
  PRODUCT OVERVIEW GALLERY
===========================-->

<section id="product-overview-gallery">

  <div class="full-width-row">

    <div class="product-gallery-wrapper">

    <!--==== ROW #1 ====-->

      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-1">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->


      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-2">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->


      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-3">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->


      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-4">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->

    <!--==== ROW #2 ====-->

      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-5">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->


      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-6">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->


      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-7">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->


      <div class="small-12 medium-3 large-3 columns">
        <div class="product-gallery gallery-grid-8">
          <img src="http://placehold.it/400x250">
        </div> <!-- product-gallery gallery-grid-1 -->
      </div> <!-- columns -->
    </div> <!-- product-gallery-wrapper -->
  </div> <!-- row -->

</section> <!-- product-overview-gallery -->

















  </section>


  <!--====================
    PRODUCT SPECS
========================-->

  <section id="product-specs" class="product-content-jquery">
    <h1>SPECS</h1>
  </section>
  <!--====================
    ACCESSORIES
========================-->

  <section id="product-accessories" class="product-content-jquery">
    <h1>ACCESSORIES</h1>
  </section>
  <!--====================
    PRODUCT DOWNLOADS
========================-->

  <section id="product-downloads" class="product-content-jquery">
    <h1>DOWNLOADS</h1>
  </section>


