<!--================
    PRODUCT HERO
====================-->

  <section id="product-hero">

    <div class="product-hero-container">
      <div class="product-hero-header text-center">
        <h1>vi49</h1>
      </div> <!-- product-hero-header -->
      <div class="product-hero-sub-header text-center">
        <h4>Advanced 49-Key USB/MIDI Controller</h4>
      </div> <!-- product-hero-sub-header -->
      <div class="product-hero-img text-center">
        <img src="assets/img/product-page/vi49-angle.png">
      </div> <!-- product-hero-img -->
    </div> <!-- product-hero-container -->

  </section>
