<!--================
  STICKY NAV
====================-->

  <section id="sticky-nav">

    <div class="stick-nav-hr" id="stick-nav-hr-id"></div> <!-- stick-nav-hr -->

    <div class="sticky-nav-container" data-magellan-destination="sticky-dest" id="sticky-dest">

      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <div class="sticky-nav-product-name">
            <h4>vi49</h4>
          </div> <!-- sticky-nav-product-name -->
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="overview">Overview</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="specs">Features</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="downloads">Downloads</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="media">Media</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="accessories">Accessories</a></dd>
          <!-- <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="support">Support</a></dd> -->
          <!-- <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest" id="find-a-dealer">Find a Dealer</a></dd> -->
        </dl>
      </div> <!-- data-magellan-expedition="fixed" -->

    </div> <!-- sticky-nav-container -->

  </section>
