<!--================
  STICKY NAV
====================-->

  <section id="sticky-nav">

    <div class="sticky-nav-container">



      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <div class="sticky-nav-product-name">
            <h4>vx49</h4>
          </div> <!-- sticky-nav-product-name -->
          <dd data-magellan-arrival="build"><a href="#build">Overview</a></dd>
          <dd data-magellan-arrival="js"><a href="#js">Specs</a></dd>
          <dd data-magellan-arrival="js"><a href="#js">Accessories</a></dd>
          <dd data-magellan-arrival="js"><a href="#js">Downloads</a></dd>
          <dd data-magellan-arrival="js"><a href="#js">Support</a></dd>
          <dd data-magellan-arrival="js"><a href="#js">Find a Dealer</a></dd>
        </dl>
      </div> <!-- data-magellan-expedition="fixed" -->

    </div> <!-- sticky-nav-container -->

  </section>
