<!--================
  STICKY NAV
====================-->

  <section id="sticky-nav">

    <div class="sticky-nav-container" data-magellan-destination="sticky-dest" id="sticky-dest">

      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <div class="sticky-nav-product-name">
            <h4>vx49</h4>
          </div> <!-- sticky-nav-product-name -->
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest">Overview</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest">Specs</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest">Accessories</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest">Downloads</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest">Support</a></dd>
          <dd data-magellan-arrival="sticky-dest"><a href="#sticky-dest">Find a Dealer</a></dd>
        </dl>
      </div> <!-- data-magellan-expedition="fixed" -->

    </div> <!-- sticky-nav-container -->

  </section>
