/****************************************
 CATEGORIES GRID   CATEGORIES GRID
*****************************************/

  section#categories-grid {
    margin-top: 4px;
    overflow: hidden;
    // border: 5px solid red;

    .columns {
      padding: 0 2px 0 2px !important;
      // height: 15em;
      // border: 2px solid gold;
    }

    .grid-images {
      // padding: 3px;
      height: 17em !important;
      // border: 5px solid green;
    }

    .grid-hover-content {
      height: 16.6em !important;
      display: block !important;
      padding-top: 40px;
      border: 5px solid black;
      // height: 244px;
      // width: 100%;

      .hover-header {

        h1 {
          margin: 0 !important;
        }
      } /* hover-header */

      .hover-description {

        p {
          font-family: $nexa-light;
        }
      } /* hover-description */

      .hover-btn {

        span {
          padding: 10px 20px;
          font-family: $nexa-light;
          border: 2px solid black;
          border-radius: 3px;
        }
      } /* hover-btn */
    } /* grid-hover-content */


    /* min-width 1025px and max-width 1440px */
      @media only screen and (min-width: 64.063em) and (max-width: 90em) {
        .grid-images {
          // padding: 3px;
          height: 12.5em !important;
          // border: 5px solid green;
        }

        .grid-hover-content {
          height: 12.2em !important;
          display: block !important;
          padding-top: 20px;
          border: 5px solid black;
          // height: 244px;
          // width: 100%;
        }
      }


  } /* section#categories-grid */




















