/****************************************
 CATEGORIES GRID   CATEGORIES GRID
*****************************************/

  section#categories-grid {
    margin-top: 4px;
    overflow: hidden;
    // border: 5px solid red;

    .columns {
      padding: 0 4px 0 4px !important;
      // height: 15em;
      // border: 2px solid gold;
    }

    .grid-images {
      // padding: 3px;
      height: 17em !important;
      // border: 5px solid green;
    }

    .grid-hover-content {
      height: 16.6em !important;
      display: block !important;
      padding-top: 40px;
      border: 5px solid black;
      // height: 244px;
      // width: 100%;

      .hover-header {

        h1 {
          margin: 0 !important;
        }
      } /* hover-header */

      .hover-description {

        p {
          font-family: $nexa-light;
        }
      } /* hover-description */

      .hover-btn {

        span {
          padding: 10px 20px;
          font-family: $nexa-light;
          border: 2px solid black;
          border-radius: 3px;
        }
      } /* hover-btn */
    } /* grid-hover-content */


  } /* section#categories-grid */




















