/************************************
   HERO       HERO       HERO
*************************************/

  section#hero {
    border: 1px solid #fff;

    .hero-img-div {
      margin-top: 80px;
      // padding-top: 80px;
      height: 1196px;
      width: 100%;
      background: url('../img/hero.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // border: 5px solid green;
    }
  } /* section#hero */
