/************************************
   HERO       HERO       HERO
*************************************/

  section#hero {
    margin-top: 60px;
    // border: 2px solid orange;

    .hero-img-div {
      // margin-top: 80px;
      // padding-top: 80px;
      height: 1196px;
      width: 100%;
      background: url('../img/Slider.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // border: 5px solid green;
    }

    .hero-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100vh;
      // border: 5px solid goldenrod;

      .hero-content-inner-wrapper {
        margin-bottom: 5%;
        padding: 60px;
        // background: rgba(0, 59, 90, 0.6);
        border-radius: 5px;
        // border: 5px solid green;
      }

      .hero-header {


        h2 {
          color: #fff;
          font-family: $nexa-light;
        }
      } /* hero-header */

      .hero-btn {
        padding-top: 20px;

        span {
          color: #fff;
          font-family: $nexa-light;
          border: 2px solid #fff;
          padding: 20px;
          font-size: 1.3em;
          background: rgba(0,0,0,0.4);
        }
      } /* hero-btn */
    } /* hero-content-wrapper */
  } /* section#hero */
















