/****************************************
  QUOTE STRIP   QUOTE STRIP  QUOTE STRIP
*****************************************/

  section#quote-strip {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    background: #fff;

    .quote-strip-header {
      // border: 2px solid yellow;

      h4 {
        text-align: center;
        color: black;
        font-size: 2.2em;
        letter-spacing: 5px;
        font-family: $nexa-light !important;
      }
    } /* quote-strip-header */

    .quote-strip-text {
      width: 60%;
      margin: 0 auto;
      // border: 2px solid yellow;

      p {
        text-align: center;
        color: black;
        font-size: 1.2em;
        font-family: $nexa-light !important;
      }
    }
  } /* section#quote-strip */












