/****************************************
  VIDEOS    VIDEOS   VIDEOS    VIDEOS
*****************************************/

  section#videos {
    overflow: hidden;
    padding: 0 0 3% 0;
    background: black;

    .videos-header {
      text-align: center;

      h1 {
        color: #fff;
        font-family: $nexa-light !important;
      }
    } /* videos-header */

    .slick-carousel-wrapper {
      margin: 0 auto !important;
      text-align: center !important;
      // border: 2px solid yellow;
    }

    .slick-next {
      background: url(../img/right-arrow.png);
      background-repeat: no-repeat;
      height: 83px;
      width: 38px;
      // background-color: rgba(38,38,38,0.4);
      // background-color: pink;
      // border: 2px solid red;
    }

    .slick-next:before {
      content: '';
    }

    .slick-prev {
      background: url(../img/left-arrow.png);
      background-repeat: no-repeat;
      height: 63px;
      width: 38px;
      left: -40px !important;
      // background-color: rgba(38,38,38,0.4);
      // border: 2px solid red;
    }

    .slick-prev:before {
      content: '';
    }

    .slick-prev {
      left: 0px !important;
      z-index: 9999;
      // border: 5px solid red;
    }

    .slick-next {
      right: 0px !important;
    }


    .slick-carousel {
      // width: 50%;
      // border: 5px solid red;
    }

    .slick-carousel,
    .slick-track,
    .slick-slide,
    .slick-list {
      text-align: center !important;
      margin: 0 auto !important;
      // border: 5px solid red;
      // overflow: hidden !important;
    }

    .slick-slider {
      margin-bottom: 0;
    }
  } /* section#videos */
