/*********************************************
   FOOTER     FOOTER       FOOTER    FOOTER
**********************************************/

  section#footer {
    //position: relative;
    height: 45vh;
    padding-top: 2%;
    background: #e9ebed;
    // border: 2px solid yellow;

    .footer-header {
      padding: 2%;

      h6 {
        color: black;
        font-family: $nexa-light;
        font-size: 1.2em;
        padding-bottom: 15px;
        margin: 0;
      }

      h1 {
        color: black;
        margin: 0;
        padding-top: 27px;
      }

      .footer-blue-line {
        margin: 0 auto;
        width: 31%;
        padding: 15px 0;
        border-bottom: 2px solid #c8d0de;
      }

      ul {
        list-style: none;
        margin: 0;

        li {
          display: inline-block;
        }

        .footer-socials {
          width: 50px;
          margin-right: 7px;

          a {


            &:hover {
            fill: $light-blue !important;
            // stroke: $light-blue !important;
            }
          }

        } /* footer-socials */
      } /* ul */
    } /* footer-header */

    .footer-subscribe-wrapper {
      // padding-top: -100px !important;
      // border: 2px solid green;
    }

    .email-input-row {
      width: 25% !important;
    }

    input[type=text] {
      border-radius: 2px !important;
      background: #fff !important;
      color: #263f4e !important;
      box-shadow: none;
      border-color: #fff;
    }

    .button {
      background: black !important;
      border-radius: 2px;
      border-color: black;

      .ion-arrow-right-c {
        margin-left: -5px;
      }

      span {
        margin-left: -22px;
        font-size: 1.1em;
      }
    }

    .footer-bottom {

      p {
        color: #9f9f9f;
        font-family: $nexa-light;
        font-size: 0.9em;
      }
    } /* footer-bottom */

    .footer-gutter {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 25px;
      background: #fff;
      border: 2px solid #fff;
    }
  } /* FOOTER */

















