/*********************************************
   FOOTER     FOOTER       FOOTER    FOOTER
**********************************************/

  footer {
    //position: relative;
    height: 40vh;
    padding-top: 2%;
    background: #e9ebed;
    // border: 2px solid yellow;

    .footer-header {
      padding: 40px;

      h6 {
        color: black;
        font-family: $nexa-light;
        font-size: 1.2em;
        margin: 0;
      }

      h1 {
        color: black;
        margin: 0;
        padding-bottom: 20px;
      }

      .footer-blue-line {
        margin: 0 auto;
        width: 60px;
        border-bottom: 2px solid $light-blue;
      }
    } /* footer-header */

    .email-input-row {
      width: 25% !important;
    }

    input[type=text] {
      border-radius: 2px !important;
      background: #fff !important;
      color: #263f4e !important;
      box-shadow: none;
      border-color: #fff;
    }

    .button {
      background: black !important;
      border-radius: 2px;
      border-color: black;

      .ion-arrow-right-c {
        margin-left: -5px;
      }

      span {
        margin-left: -25px;
        font-size: 1.2em;
      }
    }

    .footer-bottom {

      p {
        color: #9f9f9f;
        font-family: $nexa-light;
        font-size: 0.9em;
      }
    } /* footer-bottom */

    .footer-gutter {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 25px;
      background: #fff;
      border: 2px solid #fff;
    }
  } /* FOOTER */

















